body {
background-color: blue;


}
#container{
    background-color: burlywood;
    border-radius: 25px;
    height: 300px;
    width: 750px;
    margin: 0 auto;
    text-align: center;

}

/* #btn{
    border-radius: 25px;
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 22px;
    background-color: red;
} */
.output{
    text-align: center;
     border-radius: 25px;
    margin: 50px auto;
    height: 300px;
    width: 250px;
    font-size: 22px;
    background-color: purple;

}

.features button{
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: purple;
}